body {
    background-color: #191C27;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: all .7s ease;
}

.project {
    background-color: black;
}

.header {
    position: sticky;
    top: 0;
    padding: 30px 0;
    z-index: 9999;
    display: flex;
}

.header__container {
    position: initial;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__lang {
    display: flex;
    gap: 30px;
    cursor: pointer;
    margin-left: 35px;
}

.header__nav {
    display: flex;
    gap: 150px;
    transition: all 0.3s ease-in-out;
}

.header__menu {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 55px;
    align-items: center;
}

.header__item {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    color: #E0E1E3;
}

.header__link--phone {
    display: flex;
    align-items: center;
    gap: 65px;
    font-weight: 600;
    font-size: 20px;
}

.header__button {
    display: none;
}

.project__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.creating {
    background-color: #12141C;
}

.creating__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.analys {
    background-color: #12141C;
}

.analys__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.advertising {
    background-color: #12141C;
}

.advertising__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.fouro__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.reviews__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.welcome {
    height: calc(100vh - 122px);
}

.welcome__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.welcome__title {
    margin: 0 0 45px 0;
    position: relative;
    font-weight: 600;
    font-size: 140px;
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.welcome__title--second {
    font-size: 95px;
    color: #B21414;
}

.welcome__description {
    margin: 0;
    width: 50%;
    font-size: 30px;
    color: #E0E1E3;
}

.welcome__image {
    position: absolute;
    right: 0;
    z-index: 1;
}

.welcome__scroll {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.welcome__background {
    position: fixed;
    left: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    opacity: 60%;
    z-index: -1;
}

.about{
    height: calc(100vh);
    position: relative;
    display: flex;
    align-items: center;
}
.about__container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 65px;
    z-index: 1;
}
.about__description{
    margin: 0;  
    font-size: 30px;
    line-height: 43.5px;
}
.about__tags{
    margin: 0;
    padding: 0;
    gap: 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about__list{
    padding: 10px 16px;
    font-size: 30px;
    background-color: #B2141466;
    border-radius: 30px;
    width: fit-content;
}

.case {
    background-color: #191C27;
}

.case__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.case__list {
    position: relative;
    padding: 0;
    margin: 0;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case__image {
    position: absolute;
    top: -35px;
    bottom: -35px;
    left: 520px;
    height: auto;
}

.case__button {
    border: none;
    background-color: #B21414;
    border-radius: 100px;
    color: white;
    padding: 16px 35px;
    outline: 5px solid #B2141473;
    cursor: pointer;
}

.case__item {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

.case__item-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 460px;
}

.case__item-title {
    margin: 0 0 0px 0;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.case__item-desc {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1%;
}

.case__item-right {
    display: flex;
    align-items: center;
    gap: 58px;
}

.case__item-text {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.footer {
    background-color: #191C27;
}

.footer__container {
    padding-block: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.footer__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {
    cursor: pointer;
}

.footer__item-title {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.footer__item--heading {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer__item--copyright {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.footer__link--heading {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
}